{% extends "main_app/base.html" %}
{% load static %}
{% block title %}Available Companions{% endblock %}
{% block content %}
{% if messages %}
    <ul>
        {% for message in messages %}
            <li class="alert alert-danger">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
    <h1>Available Companions</h1>

    <div class="companion-container">
        {% for companion in companions %}
            <div class="companion-card">
                <h3>{{ companion.companion.username }}</h3>
                <p><strong>City:</strong> {{ companion.city }}</p>
                <p><strong>Hourly Rent:</strong> {{ companion.hour_rent }} SAR</p>
                <p><strong>Age:</strong> {{ companion.age }}</p>

                <a href="{% url 'booking_app:book_companion' companion.id %}" class="book-button">
                    <button>Book this Companion</button>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}