{% extends "main_app/base.html" %}

{% block title %}Booking History{% endblock %}

{% block content %}
{% if messages %}
  <div class="alert alert-warning">
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
  </div>
{% endif %}    
    <div class="booking-history-container">
        <h1 class="page-title">My Booking History</h1>

        {% if user_bookings %}
            <table class="booking-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Companion</th>
                        <th>Booking Date & Time</th>
                        <th>Address</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for booking in user_bookings %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ booking.companion.companion.username }}</td>
                        <td>{{ booking.booking_date_time }}</td>
                        <td>{{ booking.address }}</td>
                        <td>{{ booking.status }}</td>
                        <td>
                            {% if booking.status == 'CONFIRMED' %}
                                <a href="{% url 'booking_app:add_feedback' booking.companion.id %}" class="feedback-button">
                                    <button>Leave Feedback</button>
                                </a>
                                {% else%}{% if booking.status == 'pending'%}
                                <a href="{% url 'booking_app:payment' booking.id %}" class="feedback-button">
                                    <button>Pay Now!</button>
                                </a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="no-bookings-message">No confirmed bookings found.</p>
        {% endif %}

        <br>
        <a href="{% url 'booking_app:companion_list' %}" class="back-link">Back to Companion List</a>
    </div>

{% endblock %}
