{% extends "main_app/base.html" %}
{% load static %}
{% block title %}Sign Up as a Companion{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto min-h-screen lg:py-0">
        <a href="#" class="flex flex-col items-center justify-center mb-6">
            <img 
                class="w-20 h-14 mb-2" 
                src="{% static 'images/MoyserLogo.png' %}" 
                alt="Moyser Logo">
        </a>
        
        
        <div class="w-full max-w-3xl bg-sky-50 rounded-lg shadow dark:border md:mt-0 xl:p-0 dark:bg-gray-800 dark:border-gray-700 border border-sky-400">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Sign up as a Companion
                </h1>
                
                <form action="#" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="grid grid-cols-2 md:grid-cols-2 gap-4">
                        <div>
                            <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First Name</label>
                            <input type="text" name="first_name" id="first_name" required 
                                   class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                                   placeholder="Your first name">
                        </div>
                        <div>
                            <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Name</label>
                            <input type="text" name="last_name" id="last_name" required 
                                   class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                                   placeholder="Your last name">
                        </div>
                        <div>
                            <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">User Name</label>
                            <input type="text" name="username" id="username" required 
                                   class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                                   placeholder="Your username">
                        </div>
                        <!-- <div>
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                            <input type="email" name="email" id="email" required 
                                   class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                                   placeholder="Your email address">
                        </div> -->
                        <div>
                            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                            <input type="password" name="password" id="password" required 
                                   class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                                   placeholder="Your Password">
                        </div>
                        <!-- <div>
                            <label for="full_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Full Name</label>
                            <input type="text" name="full_name" id="full_name" required 
                                   class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                                   placeholder="Your Full Name">
                        </div> -->
                        <div>
                            <label for="gender" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Gender</label>
                            <select name="gender" id="gender" required 
                                    class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                            </select>
                        </div>
                        <div>
                            <label for="age" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Age</label>
                            <input type="number" name="age" id="age" required 
                                   class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                                   placeholder="Your Age">
                        </div>
                        <div>
                            <label for="phone_number" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone Number</label>
                            <input type="text" name="phone_number" id="phone_number" required 
                                   class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                                   placeholder="Your Phone Number">
                        </div>
                        <div>
                            <label for="bank_account" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Bank Account</label>
                            <input type="text" name="bank_account" id="bank_account" required 
                                   class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                                   placeholder="Your Bank Account">
                        </div>
                        <div>
                            <label for="hour_rent" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Rent for an Hour > 20 SAR</label>
                            <input type="text" name="hour_rent" id="hour_rent" required 
                                   class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                                   placeholder="Rent for an hour">
                        </div>
                        <div>
                            <label for="city" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">City</label>
                            <select name="city" id="city" required 
                                    class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option value="Riyadh">Riyadh</option>
                                <option value="Al-kharj">Al-kharj</option>
                                <option value="Al-majmaah">Al-majmaah</option>
                                <option value="Afif">Afif</option>
                                <option value="Jeddah">Jeddah</option>
                                <option value="Makkah">Makkah</option>
                                <option value="Al-Taif">Al-Taif</option>
                                <option value="Rabigh">Rabigh</option>
                                <option value="Al-Madinah">Al-Madinah</option>
                                <option value="Dammam">Dammam</option>
                                <option value="Al-Ahsa">Al-Ahsa</option>
                                <option value="Jizan">Jizan</option>
                                <option value="Najran">Najran</option>
                                <option value="Al-jawf">Al-jawf</option>
                                <option value="Abha">Abha</option>
                                <option value="Bisha">Bisha</option>
                                <option value="Tabuk">Tabuk</option>
                                <option value="Hail">Hail</option>
                                <option value="Qassim">Qassim</option>
                            </select>
                        </div>
                        <div>
                            <label for="certification" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Certification (PDF)</label>
                            <input type="file" name="certification" id="certification" 
                                   class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                                   accept=".pdf">
                        </div>
                        <div class="flex flex-col items-start col-span-2">
                            <label for="skills" class="block mb-4 text-sm font-medium text-gray-900 dark:text-white">Skills</label>
                            <div id="skills" class="grid grid-cols-2 gap-x-12 gap-y-2">
                                {% for skill in skills %}
                                    <div class="flex items-center">
                                        <input 
                                            type="checkbox" 
                                            name="skills" 
                                            id="skill_{{ skill.id }}" 
                                            value="{{ skill.id }}" 
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
                                        <label for="skill_{{ skill.id }}" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                                            {{ skill.name }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-col items-center mb-6">
                        <button 
                            type="submit" 
                            class="w-auto px-20 py-2 text-m font-medium text-white bg-sky-600 rounded-lg hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                            Sign Up
                        </button>
                        <p class="mt-2 text-sm font-light text-gray-500 dark:text-gray-400">
                            Already have an account? 
                            <a href="{% url 'account_app:sign_in_user_view' %}" class="font-medium text-primary-600 hover:underline dark:text-primary-500">
                                Sign in
                            </a>
                        </p>
                    </div> 
                </form>
            </div>
        </div>

        <div class="my-8"></div> <!-- Space after the form -->
    </div>
{% endblock %}
