{% extends "main_app/base.html" %}

{% block content %}
<h2 style="text-align: center; font-size: 2em; font-weight: bold; color: #4CAF50; margin-bottom: 30px;">Companions List</h2>
<div>
    <table style="background-color: #f9f9f9; width: 100%; border-collapse: collapse;">
        <thead>
            <tr>
                <th style="padding: 12px; text-align: left; border: 1px solid #ddd; background-color: #4CAF50; color: white;">Companion Name</th>
                <th style="padding: 12px; text-align: left; border: 1px solid #ddd; background-color: #4CAF50; color: white;">Username</th>
                <th style="padding: 12px; text-align: left; border: 1px solid #ddd; background-color: #4CAF50; color: white;">Rent per Hour</th>
                <th style="padding: 12px; text-align: left; border: 1px solid #ddd; background-color: #4CAF50; color: white;">Phone Number</th>
                <th style="padding: 12px; text-align: left; border: 1px solid #ddd; background-color: #4CAF50; color: white;">Certificate</th>
                <th style="padding: 12px; text-align: left; border: 1px solid #ddd; background-color: #4CAF50; color: white;">Skills</th>
                <!-- <th style="padding: 12px; text-align: left; border: 1px solid #ddd; background-color: #4CAF50; color: white;">booking history</th> -->
                <th style="padding: 12px; text-align: left; border: 1px solid #ddd; background-color: #4CAF50; color: white;">Availability</th>
                <th style="padding: 12px; text-align: left; border: 1px solid #ddd; background-color: #4CAF50; color: white;">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for companion in companions %}
            <tr>
                <td style="padding: 12px; text-align: left; border: 1px solid #ddd;">{{ companion.companion.first_name }} {{ companion.companion.last_name }}</td>
                <td style="padding: 12px; text-align: left; border: 1px solid #ddd;">{{ companion.companion.username }}</td>
                <td style="padding: 12px; text-align: left; border: 1px solid #ddd;">${{ companion.hour_rent }}</td>
                <td style="padding: 12px; text-align: left; border: 1px solid #ddd;">{{ companion.phone_number }}</td>
                <td style="padding: 12px; text-align: left; border: 1px solid #ddd;">
                    {% if companion.certification %}
                        <a href="{{ companion.certification.url }}" style="color: #007bff; text-decoration: none;">View Certificate</a>
                    {% else %}
                        No Certificate
                    {% endif %}
                </td>
                <td style="padding: 12px; text-align: left; border: 1px solid #ddd;">{{ companion.skills.all|join:", " }}</td>
                <!-- <td style="padding: 12px; text-align: left; border: 1px solid #ddd;"></td> -->
                <td style="padding: 12px; text-align: left; border: 1px solid #ddd;">
                    {% if companion.availability %}
                        Available
                    {% else %}
                        Not Available
                    {% endif %}
                </td>
                <td style="padding: 12px; text-align: left; border: 1px solid #ddd;">
                    <a href="{% url 'dashboard_app:edit_companion' companion.id %}" style="text-decoration: none; color: white; background-color: #007bff; padding: 5px 10px; border-radius: 5px; font-size: 12px;">Edit</a>
                    <a href="{% url 'dashboard_app:delete_companion' companion.id %}" style="text-decoration: none; color: white; background-color: #dc3545; padding: 5px 10px; border-radius: 5px; font-size: 12px; margin-left: 5px;">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
